.scrollStuff{
	position:absolute;
	right: 10px;
	top:10px;
	width:325px;
	height: 100%;
	background: white;

	float: middle;

    overflow: scroll;

    bottom: dotted #008080;
	box-shadow: inset 0 0 6px;

    z-index: 2;
}